.TextPortionContainer{
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    margin: 0 60px;
    h1{
        font-size: 50px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
        font-family: 'Inter', 'sans-serif';
        text-align: unset;

        b{
            margin-top: 20px;
        }
        h4{
            margin: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .TextPortionContainer{
        margin: 0 30px;
        h4{
            font-size: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .text{
            display: flex;
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
}