.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px;
  margin-top: 20px;

  .image {
    width: 781px;
    height: 591px;
    display: flex;
    flex-direction: row;

    .square {
      position: absolute;
      height: 591px;
      width: 470px;
      background-color: #facd49;
      transition: transform 0.3s ease;
    }

    .circle {
      position: absolute;
      height: 591px;
      width: 591px;
      background-color: #facd49;
      left: 275px;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    #personImage {
      position: relative;
      width: 1200px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;

    h2 {
      font-size: 24px;
      line-height: 1.5;
    }

    p {
      font-size: 18px;
      color: #191825;
      opacity: 0.7;
      font-family: "Inter", sans-serif;
      text-align: justify;
      line-height: 1.5;
    }

    button {
      background-color: #010101;
      border: none;
      border-radius: 20px;
      width: 137px;
      height: 50px;
      color: #ffffff;
      z-index: 3;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      cursor: pointer;

      &:hover {
        background-color: #face494d;
        color: black;
      }
    }
  }
}

@media(max-width:950px){
  .Container{
    .image{
    display: none;
    }

  }
}

@media (max-width: 1300px) {
  .Container {
    flex-direction: column;
    margin-left: 30px;
    
     .text h2{
      margin-bottom: 0;
      }
    
    .image {
      display: none;
      width: min-content;
      scale: 0.8;
      position: relative;
      left: -100px;

      .circle {
        width: 600px;
        position: absolute;
        left: 200px;
        background-color: #facd49;
      }
    }
  }
}

@media (max-width: 768px) {
  .Container {
    width: auto;
    margin: 0 20px;
    flex-direction: column;
    background-color: #facd49;
    margin-bottom: 50px;
    padding: 30px;
    padding-right: 0;
    margin-right: 0;
    position: relative;
/*     left:10px; */

    .image {
      display: none; /* Hide images on smaller screens */
    }

    .text {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-right: 10px;
      width: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      
      
      h2 {
        font-weight: bolder;
        font-size: 25px; /* Adjusted for better readability */
        text-align: center; /* Centered text */
      }
      
      p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: unset; /* Center text for better alignment */
      }

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .text {
    width: 100%;

    h2 {
      font-size: 20px; /* Adjusted for smaller screens */
    }

    p {
      font-size: 16px; /* Ensure readability */
    }

    button {
      width: 120px; /* Adjust button size */
      height: 45px; /* Adjust button height */
    }
  }
}

